* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.banner {
    padding: 0.16px;
    background-color: #000;
}

.banner .div {
    border: 4px solid #000;
    position: fixed;
    z-index: 10000000000000;
    width: 100%;

}

.nav {
    /* border: 3px solid darkblue; */
    position: absolute;
    height: 10vh;
    z-index: 10000000000000;
    top: 150px;
    /* background-color: #ff0000; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-shadow: 1px 2px 3px #000;

}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: absolute;
    z-index: 1000000;
    width: 100%;
}

.nav a {
    text-decoration: none;
    color: #fff;
    /* border: 2px solid goldenrod; */
    margin: 0px 10px 0px 10px;
}

.swiper {
    width: 100%;
    /* height: 100%; */
  
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #000;
    opacity: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ff0303e3;
    width: 100%;
    /* height: 90vh; */
    position: relative;

}

.bannerContent {
    position: absolute;
    color: #fff;
}

.bannerContent h1 {
    font-size: 70px;
    margin: 0px 0px 15px 0px;
    animation-name: heading;
    animation-duration: 2s;
}

@keyframes heading{
    0%{
        transform: translate(-300%);
    }

    100%{
        transform: translate(0%);
    }
}

.bannerContent p {
    margin-bottom: 15px;
    animation-name: paragraph;
    animation-duration: 3s;
}

@keyframes paragraph{
    0%{
        transform: translate(-300%);
    }

    100%{
        transform: translate(0%);
    }
}

.bannerContent button {
    animation-name: btn;
    animation-duration: 2s;
    background-color: transparent;
    border: 1px solid #fff;
    width: 30%;
    height: 50px;
    color: #fff;
}

.bannerContent button:hover{
    border: #ff0000;
}

@keyframes btn{
    0%{
        transform: translate(-300%);
    }

    100%{
        transform: translate(0%);
    }
}

.bannerContent2 {
    position: absolute;
    color: #fff;
}

.bannerContent2 h1 {
    font-size: 70px;
    margin: 0px 0px 15px 0px;
    animation-name: heading2;
    animation-duration: 2s;
}

@keyframes heading2{
    0%{
        transform: translate(300%);
    }

    100%{
        transform: translate(0%);
    }
}

.bannerContent2 p {
    margin-bottom: 15px;
    animation-name: paragraph2;
    animation-duration: 3s;
}

@keyframes paragraph2{
    0%{
        transform: translate(300%);
    }

    100%{
        transform: translate(0%);
    }
}

.bannerContent2 button {
    animation-name: btn2;
    animation-duration: 2s;
    background-color: transparent;
    border: 1px solid #fff;
    width: 40%;
    height: 50px;
    color: #fff;
}

.bannerContent2 button:hover{
    border: #ff0000;
}

@keyframes btn2{
    0%{
        transform: translate(300%);
    }

    100%{
        transform: translate(0%);
    }
}

.bannerContent3 {
    position: absolute;
    color: #fff;
}

.bannerContent3 h1 {
    font-size: 70px;
    margin: 0px 0px 15px 0px;
    animation-name: heading3;
    animation-duration: 2s;
}

@keyframes heading3{
    0%{
        transform: translate(300%);
    }

    100%{
        transform: translate(0%);
    }
}

.bannerContent3 p {
    margin-bottom: 15px;
    animation-name: paragraph3;
    animation-duration: 3s;
}

@keyframes paragraph3{
    0%{
        transform: translate(300%);
    }

    100%{
        transform: translate(0%);
    }
}

.bannerContent3 button {
    animation-name: btn3;
    animation-duration: 2s;
    background-color: transparent;
    border: 1px solid #fff;
    width: 40%;
    height: 50px;
    color: #fff;
}

.bannerContent3 button:hover{
    border: #ff0000;
}

@keyframes btn3{
    0%{
        transform: translate(300%);
    }

    100%{
        transform: translate(0%);
    }
}

.bannerContent4 {
    position: absolute;
    color: #fff;
}

.bannerContent4 h1 {
    font-size: 70px;
    margin: 0px 0px 15px 0px;
    animation-name: heading4;
    animation-duration: 2s;
}

@keyframes heading4{
    0%{
        transform: translate(-300%);
    }

    100%{
        transform: translate(0%);
    }
}

.bannerContent4 p {
    margin-bottom: 15px;
    animation-name: paragraph4;
    animation-duration: 3s;
}

@keyframes paragraph4{
    0%{
        transform: translate(-300%);
    }

    100%{
        transform: translate(0%);
    }
}

.bannerContent4 button {
    animation-name: btn4;
    animation-duration: 2s;
    background-color: transparent;
    border: 1px solid #fff;
    width: 40%;
    height: 50px;
    color: #fff;
}

.bannerContent4 button:hover{
    border: #ff0000;
}

@keyframes btn4{
    0%{
        transform: translate(-300%);
    }

    100%{
        transform: translate(0%);
    }
}

.swiper-slide img {
    display: block;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}

.maincontainer {
    border: 5px solid darkgreen;
    padding: 0.16px;
    /* display: flex;
    align-items: center;
    /* justify-content: center; */
}


.container {
    border: 2px solid purple;
    /* height: 56vh; */
    display: flex;
}

.container2 {
    border: 2px solid purple;
    /* height: 56vh; */
    display: flex;
}

.container3 {
    border: 2px solid purple;
    /* height: 80vh; */
    display: flex;
}

.container4 {
    border: 2px solid purple;
    /* height: 80vh; */
    display: flex;
}

.container .text {
    border: 2px solid red;
    /* height: 56vh; */
    width: 60%;
    padding: 60px;
}

.container .video {
    border: 2px solid goldenrod;
    /* height: 56vh; */
    width: 40%;

}

.container2 .video {
    border: 2px solid black;
    /* height: 56vh; */
    width: 40%;
}

.container2 .text {
    border: 2px solid darkred;
    /* height: 56vh; */
    width: 60%;
    padding: 60px;
}

.container3 .img {
    border: 2px solid blue;
    /* height: 80vh; */
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container3 .text {
    border: 2px solid palevioletred;
    /* height: 80vh; */
    width: 60%;
    padding-left: 60px;
}

.container4 .text {
    border: 2px solid yellow;
    /* height: 80vh; */
    width: 60%;
    padding-left: 60px;
}

.container4 .img {
    border: 2px solid cyan;
    /* height: 80vh; */
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    color: red;
}

hr {
    width: 10%;
    border: 2px solid red;
}

button {
    width: 20%;
    /* height: 60px; */
    background-color: #fff;
    border: 2px solid red;
    color: red;
    font-size: 16px;
    transition: 0.6s;

}

button:hover {
    background-color: #ff0303e3;
    color: #fff;
}

span a {
    text-decoration: none;
    color: red;
}

.menu {
    border: 2px solid darkblue;
    height: 80vh;
    background-image: url(./img/index-specials.jpg);
    /* display: flex; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.swiper {
    width: 100%;
    /* height: 300px; */
    /* margin: 20px auto; */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.append-buttons {
    text-align: center;
    margin-top: 20px;
}

.append-buttons a {
    display: inline-block;
    border: 1px solid #007aff;
    color: #007aff;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 13px;
}

.info {
    border: 2px solid orange;
    height: 20vh;
    background-color: #151515;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.menu h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu hr {
    border: 1px solid #fff;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0px;
    background-color: #000;
    opacity: 80%;

}
.swiper-button-next , .swiper-button-prev{
    --swiper-theme-color: #fff;
    border: 2px solid black;
    border-radius: 40px;

}

svg{
    height: 30px;
    /* width: 10%; */
    border: 1px solid red;
    border-radius: 100px;
}